* {
  box-sizing: border-box;
}
html {
  font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro Regular'), local('Basis-Grotesque-Pro-Regular'),
        url('BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('BasisGrotesquePro-Regular.woff') format('woff'),
        url('BasisGrotesquePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
  width: 1920px;
  height: 5324px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  position: relative;
}
.name-programm {
  position: absolute;
  width: 233px;
  height: 20px;
  left: 165px;
  top: 217px;
  background: rgba(9, 78, 105, 0.1);
  border-radius: 5px;
}
.text-programm {
  width: 216px;
  height: 15px;
  left: 173px;
  top: 208px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;  
  letter-spacing: 0.05em;
  position: absolute;
  color: rgba(34, 34, 34, 0.7);
}
.title {
  position: absolute;
  width: 507px;
  height: 131px;
  left: 165px;
  top: 259px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 110%;
  color: #222222;
}
.discription {
  position: absolute;
  height: 69px;
  left: 165px;
  top: 405px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  width: 483px;
  color: rgba(34, 34, 34, 0.7);
}
.link-body {
  position: absolute;
  width: 180px;
  height: 45px;
  left: 165px;
  top: 517px;
}
.link {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: solid 2px #9BB33C;
  background: #9BB33C;
  border-radius: 30px;
}
.link:hover {
  border: solid 2px #6c5bc3;
}
.link-text {
  position: absolute;
  left: 21.5%;
  top: -18%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.v1 {
  position: absolute;
  left: 11.46%;
  right: 85.07%;
  top: 0.7%;
  bottom: 98.87%;
}
.v2 {
  position: absolute;
  left: 15.53%;
  right: 83.51%;
  top: 0.79%;
  bottom: 98.93%;
}
.v3 {
  position: absolute;
  left: 16.56%;
  right: 82.85%;
  top: 0.72%;
  bottom: 98.94%;
}
.v4 {
  position: absolute;
  left: 17.25%;
  right: 82.09%;
  top: 0.8%;
  bottom: 98.94%;
}
.v5 {
  position: absolute;
  left: 17.96%;
  right: 81.02%;
  top: 0.79%;
  bottom: 98.93%;
}
.v6 {
  position: absolute;
  left: 19.17%;
  right: 80.48%;
  top: 0.65%;
  bottom: 98.94%;
}
.v7 {
  position: absolute;
  left: 19.7%;
  right: 79.38%;
  top: 0.79%;
  bottom: 98.94%;
}
.v8 {
  position: absolute;
  left: 20.82%;
  right: 78.24%;
  top: 0.8%;
  bottom: 98.93%;
}
.v9 {
  position: absolute;
  left: 21.87%;
  right: 77.71%;
  top: 0.64%;
  bottom: 99.24%;
}
.img-1 {
  position: absolute;
  width: 580.17px;
  height: 973.97px;
  left: 830px;
  top: -120px;
}
.img-2 {
  position: absolute;
  width: 232px;
  height: 182px;
  left: 803px;
  top: 42px;
  z-index: 5;
  background: url(/assets/img/img-left-side/helenaІlopes.png);
  border-radius: 5px;
}
.img-3 {
  position: absolute;
  width: 276px;
  height: 196px;
  left: 1105px;
  top: 102px;
  z-index: 5;
  background: url(/assets/img/img-left-side/danielsessler.png);
  border-radius: 5px;
}
.img-4 {
  position: absolute;
  width: 425px;
  height: 304px;
  left: 850px;
  top: 253px;
  background: url(/assets/img/img-left-side/danfreeman.png);
  border-radius: 10px;
}
.img-5 {
  position: absolute;
  width: 191px;
  height: 188px;
  left: 1164px;
  top: 440px;
  background: url(/assets/img/img-left-side/pexelsketutsubiyanto1.png);
  border-radius: 5px;
}
.img-6 {
  position: absolute;
  width: 397.54px;
  height: 351.07px;
  left: 700.62px;
  top: 316.47px;
  z-index: -1;
}
.img-7 {
  position: absolute;
  width: 188.88px;
  height: 89px;
  left: 1058px;
  top: 596.22px;
}
.img-8 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 780px;
  top: 327px;
  border-radius: 50px;
  background: #9BB33C;
}
.img-9 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 1082px;
  top: 658px;
  border-radius: 50px;
  background: #9BB33C;
}
.h3 {
  position: absolute;
  width: 780px;
  height: 36px;
  left: 330px;
  top: 731px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}
.h4-first {
  position: absolute;
  width: 230px;
  height: 26px;
  left: 165px;
  top: 867px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
}
.h4-second {
  position: absolute;
  width: 353px;
  height: 26px;
  left: 542px;
  top: 867px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
}
.h4-third {
  position: absolute;
  width: 359px;
  height: 28px;
  left: 927px;
  top: 867px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
}
.text-part2-first {
  position: absolute;
  width: 316px;
  height: 93px;
  left: 165px;
  top: 911px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.text-part2-second {
  position: absolute;
  width: 312px;
  height: 99px;
  left: 542px;
  top: 911px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.text-part2-third {
  position: absolute;
  width: 345px;
  height: 92px;
  left: 927px;
  top: 911px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.background {
  position: absolute;
  width: 1440px;
  height: 474px;
  left: 0px;
  top: 1089px;
  background: #F4F4F4;
}
.img-background {
  position: absolute;
  width: 476px;
  height: 475px;
  left: 166px;
  top: 1152px;
  background: url(/assets/img/pexelsfauxels.png);
  border-radius: 5px;
}
.h2-title {
  position: absolute;
  width: 453px;
  height: 84px;
  left: 799px;
  top: 1187px;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 110%;
  color: #222222;
}
.text-about-course-1 {
  position: absolute;
  width: 474px;
  height: 52px;
  left: 801px;
  top: 1303px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.8);
}
.text-about-course-2 {
  position: absolute;
  width: 409px;
  height: 52px;
  left: 801px;
  top: 1371px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.8);
}
.text-about-course-3 {
  position: absolute;
  width: 451px;
  height: 26px;
  left: 799px;
  top: 1439px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.8);
}
.programm {
  position: absolute;
  width: 84px;
  height: 20px;
  left: 678px;
  top: 1695px;
  background: rgba(9, 78, 105, 0.1);
  border-radius: 5px;
}
.programm-title {
  position: absolute;
  width: 78px;
  height: 15px;
  left: 681px;
  top: 1698px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(34, 34, 34, 0.7);
}
.h2-title-second {
  position: absolute;
  width: 528px;
  height: 122px;
  left: 451px;
  top: 1730px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
.h2-text {
  position: absolute;
  width: 779px;
  height: 52px;
  left: 331px;
  top: 1861px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.link-body2 {
  position: absolute;
  width: 254px;
  height: 45px;
  left: 165px;
  top: 1979px;
  background: #094E69;
  border: solid 2px #094E69;;
  border-radius: 30px;
}
.link-body2:hover {
  border: solid 2px #18a0fb;
}
.link2-text {
  position: absolute;
  width: 212px;
  height: 22px;
  left: 187px;
  top: 1967px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.description-link2 {
  position: absolute;
  width: 542px;
  height: 75px;
  left: 189px;
  top: 2043px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.h5 {
  position: absolute;
  width: 332px;
  height: 24px;
  left: 189px;
  top: 2127px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
}
.course-list {
  position: absolute;
  width: 332px;
  height: 173px;
  left: 190px;
  top: 2170px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
}
.img-course {
  position: absolute;
  width: 474px;
  height: 687px;
  left: 800px;
  top: 1979px;
  background: url(/assets/img/pexelsmudassirali.png);
  border-radius: 5px;
}
.link-body3 {
  position: absolute;
  width: 250px;
  height: 45px;
  left: 165px;
  top: 2370px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}
.link-body3:hover {
  border: solid 2px #18a0fb;
}
.link3-text {
  position: absolute;
  width: 207px;
  height: 22px;
  left: 186px;
  top: 2358px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.link-body4 {
  position: absolute;
  width: 350px;
  height: 45px;
  left: 165px;
  top: 2430px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}
.link-body4:hover {
  border: solid 2px #18a0fb;
}
.link4-text {
  position: absolute;
  width: 306px;
  height: 22px;
  left: 187px;
  top: 2418px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.link-body5 {
  position: absolute;
  width: 299px;
  height: 45px;
  left: 165px;
  top: 2490px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}
.link-body5:hover {
  border: solid 2px #18a0fb;
}
.link5-text {
  position: absolute;
  width: 253px;
  height: 22px;
  left: 187px;
  top: 2476px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.link-body6 {
  position: absolute;
  width: 176px;
  height: 45px;
  left: 165px;
  top: 2550px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}
.link-body6:hover {
  border: solid 2px #18a0fb;
}
.link6-text {
  position: absolute;
  width: 140px;
  height: 22px;
  left: 182px;
  top: 2537px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.link-body7 {
  position: absolute;
  width: 320px;
  height: 45px;
  left: 165px;
  top: 2610px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}
.link-body7:hover {
  border: solid 2px #18a0fb;
}
.link7-text {
  position: absolute;
  width: 285px;
  height: 22px;
  left: 182px;
  top: 2597px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.link-body8 {
  position: absolute;
  width: 158px;
  height: 45px;
  left: 165px;
  top: 2670px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 30px;
}
.link-body8:hover {
  border: solid 2px #18a0fb;
}
.link8-text {
  position: absolute;
  width: 132px;
  height: 24px;
  left: 177px;
  top: 2656px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.text-courses-last {
  position: absolute;
  width: 788px;
  height: 32px;
  left: 326px;
  top: 2724px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.h2-title-third {
  position: absolute;
  width: 545px;
  height: 111px;
  left: 447px;
  top: 2814px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
.text-lms {
  position: absolute;
  width: 785px;
  height: 70px;
  left: 328px;
  top: 2960px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.block-1 {
  position: absolute;
  width: 475px;
  height: 101px;
  left: 230px;
  top: 3084px;
  background: #F4F4F4;
  border-radius: 5px;
}
.block-2 {
  position: absolute;
  width: 445px;
  height: 101px;
  left: 735px;
  top: 3084px;
  background: #F4F4F4;
  border-radius: 5px;
}
.numbers1 {
  position: absolute;
  width: 247px;
  height: 63px;
  left: 248px;
  top: 3045px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 75px;
  text-align: center;
  color: #094E69;
}
.numbers2 {
  position: absolute;
  width: 95px;
  height: 63px;
  left: 771px;
  top: 3045px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 75px;
  color: #094E69;
}
.about-numbers1 {
  position: absolute;
  width: 160px;
  height: 49px;
  left: 515px;
  top: 3099px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.about-numbers2 {
  position: absolute;
  width: 257px;
  height: 61px;
  left: 895px;
  top: 3099px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.online-learning {
  position: absolute;
  width: 686px;
  height: 37px;
  left: 377px;
  top: 3213px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}
.text-courses1 {
  position: absolute;
  width: 296px;
  height: 52px;
  left: 165px;
  top: 3335px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.text-courses2 {
  position: absolute;
  width: 266px;
  height: 52px;
  left: 515px;
  top: 3335px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.text-courses3 {
  position: absolute;
  width: 143px;
  height: 52px;
  left: 830px;
  top: 3335px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.text-courses4 {
  position: absolute;
  width: 155px;
  height: 52px;
  left: 1113px;
  top: 3335px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.link-courses {
  position: absolute;
  width: 185px;
  height: 45px;
  left: 600px;
  top: 3472px;
  background: #9BB33C;
  border: 2px solid #9BB33C;
  box-sizing: border-box;
  border-radius: 30px;
}
.link-courses:hover {
  border: solid 2px #6c5bc3;
}
.link-courses-text {
  position: absolute;
  left: 21.67%;
  right: 21.11%;
  top: -20%;
  bottom: 22.22%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.quote-block {
  position: absolute;
  width: 1440px;
  height: 474px;
  left: 0px;
  top: 3582px;
  background: #094E69;
}
.quote-text {
  position: absolute;
  width: 1095px;
  height: 196px;
  left: 168px;
  top: 3676px;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 49px;
  color: #FFFFFF;
}
.quote-person {
  position: absolute;
  width: 165px;
  height: 42px;
  left: 165px;
  top: 3913px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.h2-title-fourth {
  position: absolute;
  width: 624px;
  height: 130px;
  left: 165px;
  top: 4165px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  color: #000000;
}
.text-fourth-title {
  position: absolute;
  width: 582px;
  height: 115px;
  left: 166px;
  top: 4295px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.7);
}
.first-name {
  position: absolute;
  width: 103px;
  height: 17px;
  left: 190px;
  top: 4470px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.second-name {
  position: absolute;
  width: 108px;
  height: 17px;
  left: 489px;
  top: 4470px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.company-name {
  position: absolute;
  width: 135px;
  height: 17px;
  left: 190px;
  top: 4538px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.state {
  position: absolute;
  width: 135px;
  height: 17px;
  left: 190px;
  top: 4606px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
}
.region {
  position: absolute;
  width: 135px;
  height: 17px;
  left: 190px;
  top: 4631px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.mail {
  position: absolute;
  width: 135px;
  height: 17px;
  left: 190px;
  top: 4699px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.phone {
  position: absolute;
  width: 179px;
  height: 22px;
  left: 190px;
  top: 4768px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}
.place1 {
  position: absolute;
  width: 270px;
  height: 11px;
  left: 165px;
  top: 4493px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.place2 {
  position: absolute;
  width: 270px;
  height: 11px;
  left: 465px;
  top: 4493px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.place3 {
  position: absolute;
  width: 570px;
  height: 11px;
  left: 165px;
  top: 4562px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.place4 {
  position: absolute;
  width: 570px;
  height: 11px;
  left: 165px;
  top: 4653px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.place5 {
  position: absolute;
  width: 570px;
  height: 11px;
  left: 165px;
  top: 4721px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.place6 {
  position: absolute;
  width: 570px;
  height: 11px;
  left: 165px;
  top: 4790px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.submit-body {
  position: absolute;
  width: 180px;
  height: 45px;
  left: 165px;
  top: 4845px;
}
.submit-text {
  position: absolute;
  left: 31.67%;
  right: 32.08%;
  top: -14%;
  bottom: 22.22%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.link-submit {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #9BB33C;
  border-radius: 30px;
}
.link-submit:hover {
  border: solid 2px #6c5bc3;
}
.submit-agree {
  position: absolute;
  width: 354px;
  height: 33px;
  left: 358px;
  top: 4845px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}
.text-first {
  position: absolute;
  width: 362px;
  height: 258px;
  left: 925px;
  top: 4291px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.logo-first-text {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 918px;
  top: 4548px;
  
  background: url(/assets/img/image5.png);
  border-radius: 150px;
}
.company-first-text {
  position: absolute;
  width: 252px;
  height: 42px;
  left: 1038px;
  top: 4578px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.text-second {
  position: absolute;
  width: 345px;
  height: 166px;
  left: 925px;
  top: 4655px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.logo-second-text {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 925px;
  top: 4812px;
  background: url(/assets/img/image4.png);
  border-radius: 77.5px;
}
.company-second-text {
  position: absolute;
  width: 234px;
  height: 63px;
  left: 1038px;
  top: 4826px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.footer {
  position: absolute;
  width: 1440px;
  height: 313px;
  left: 0;
  top: 5011px;
  background: url(/assets/img/pexelslukasrodriguez.png);
}



