html {
  font-family: 'Basis Grotesque Pro';
    src: local('Basis Grotesque Pro Regular'), local('Basis-Grotesque-Pro-Regular'),
        url('BasisGrotesquePro-Regular.woff2') format('woff2'),
        url('BasisGrotesquePro-Regular.woff') format('woff'),
        url('BasisGrotesquePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
  width: 1440px;
  height: 5324px;
  background: #FFFFFF;
  position: relative;
}
.name-programm {
  position: absolute;
  width: 233px;
  height: 20px;
  left: 165px;
  top: 217px;
  background: rgba(9, 78, 105, 0.1);
  border-radius: 5px;
}
.text-programm {
  width: 216px;
  height: 15px;
  left: 173px;
  top: 208px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;  
  letter-spacing: 0.05em;
  position: absolute;
  color: rgba(34, 34, 34, 0.7);
}
.title {
  position: absolute;
  width: 507px;
  height: 131px;
  left: 165px;
  top: 259px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 110%;
  color: #222222;
}
.discription {
  position: absolute;
  height: 69px;
  left: 165px;
  top: 405px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  width: 483px;
  color: rgba(34, 34, 34, 0.7);
}
.link-body {
  position: absolute;
  width: 180px;
  height: 45px;
  left: 165px;
  top: 517px;
}
.link {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #9BB33C;
  border-radius: 30px;
}
.link:hover {
  border: solid 2px #7b61ff;
}
.link-text {
  position: absolute;
  left: 21.5%;
  top: -12%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.v1 {
  position: absolute;
  left: 11.46%;
  right: 85.07%;
  top: 0.7%;
  bottom: 98.87%;
}
.v2 {
  position: absolute;
  left: 15.53%;
  right: 83.51%;
  top: 0.79%;
  bottom: 98.93%;
}
.v3 {
  position: absolute;
  left: 16.56%;
  right: 82.85%;
  top: 0.72%;
  bottom: 98.94%;
}
.v4 {
  position: absolute;
  left: 17.25%;
  right: 82.09%;
  top: 0.8%;
  bottom: 98.94%;
}
.v5 {
  position: absolute;
  left: 17.96%;
  right: 81.02%;
  top: 0.79%;
  bottom: 98.93%;
}
.v6 {
  position: absolute;
  left: 19.17%;
  right: 80.48%;
  top: 0.65%;
  bottom: 98.94%;
}
.v7 {
  position: absolute;
  left: 19.7%;
  right: 79.38%;
  top: 0.79%;
  bottom: 98.94%;
}
.v8 {
  position: absolute;
  left: 20.82%;
  right: 78.24%;
  top: 0.8%;
  bottom: 98.93%;
}
.v9 {
  position: absolute;
  left: 21.87%;
  right: 77.71%;
  top: 0.64%;
  bottom: 99.24%;
}
.img-1 {
  position: absolute;
  width: 800.17px;
  height: 973.97px;
  left: 830px;
  top: -120px;
}
.img-2 {
  position: absolute;
  width: 232px;
  height: 182px;
  left: 803px;
  top: 42px;
  z-index: 5;
  background: url(/assets/img/img-left-side/helena-lopes-e3OUQGT9bWU-unsplash\ 1.png);
  border-radius: 5px;
}
.img-3 {
  position: absolute;
  width: 276px;
  height: 196px;
  left: 1105px;
  top: 102px;
  z-index: 5;
  background: url(/assets/img/img-left-side/daniel-sessler-jmHJLXHHRXA-unsplash.png);
  border-radius: 5px;
}
.img-4 {
  position: absolute;
  width: 425px;
  height: 304px;
  left: 850px;
  top: 253px;
  background: url(/assets/img/img-left-side/dan-freeman-7Zb7kUyQg1E-unsplash.png);
  border-radius: 10px;
}
.img-5 {
  position: absolute;
  width: 191px;
  height: 188px;
  left: 1164px;
  top: 440px;
  background: url(/assets/img/img-left-side/pexels-ketut-subiyanto-4350054\ 1.png);
  border-radius: 5px;
}
.img-6 {
  position: absolute;
  width: 397.54px;
  height: 351.07px;
  left: 700.62px;
  top: 316.47px;
  z-index: -1;
}
.img-7 {
  position: absolute;
  width: 188.88px;
  height: 89px;
  left: 1058px;
  top: 596.22px;
}
.img-8 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 780px;
  top: 327px;
  border-radius: 50px;
  background: #9BB33C;
}
.img-9 {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 1082px;
  top: 658px;
  border-radius: 50px;
  background: #9BB33C;
}
.h3 {
  position: absolute;
  width: 780px;
  height: 36px;
  left: 330px;
  top: 731px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}
.h4-first {
  position: absolute;
  width: 230px;
  height: 26px;
  left: 165px;
  top: 867px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
}
.h4-second {
  position: absolute;
  width: 353px;
  height: 26px;
  left: 542px;
  top: 867px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
}
.h4-third {
  position: absolute;
  width: 359px;
  height: 28px;
  left: 927px;
  top: 867px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
}
.text-part2-first {
  position: absolute;
  width: 316px;
  height: 93px;
  left: 165px;
  top: 911px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.text-part2-second {
  position: absolute;
  width: 312px;
  height: 99px;
  left: 542px;
  top: 911px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.text-part2-third {
  position: absolute;
  width: 345px;
  height: 92px;
  left: 927px;
  top: 911px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.background {
  position: absolute;
  width: 1440px;
  height: 474px;
  left: 0px;
  top: 1089px;
  background: #F4F4F4;
}
.img-background {
  position: absolute;
  width: 476px;
  height: 475px;
  left: 166px;
  top: 1152px;
  background: url(/assets/img/pexels-fauxels-3183197\ 1.png);
  border-radius: 5px;
}
.h2-title {
  position: absolute;
  width: 453px;
  height: 84px;
  left: 799px;
  top: 1187px;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 110%;
  color: #222222;
}
.text-about-course-1 {
  position: absolute;
  width: 474px;
  height: 52px;
  left: 801px;
  top: 1303px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.8);
}
.text-about-course-2 {
  position: absolute;
  width: 409px;
  height: 52px;
  left: 801px;
  top: 1371px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.8);
}
.text-about-course-3 {
  position: absolute;
  width: 451px;
  height: 26px;
  left: 799px;
  top: 1439px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.8);
}
.programm {
  position: absolute;
  width: 84px;
  height: 20px;
  left: 678px;
  top: 1695px;
  background: rgba(9, 78, 105, 0.1);
  border-radius: 5px;
}
.programm-title {
  position: absolute;
  width: 78px;
  height: 15px;
  left: 681px;
  top: 1698px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(34, 34, 34, 0.7);
}
.h2-title-second {
  position: absolute;
  width: 528px;
  height: 122px;
  left: 451px;
  top: 1730px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}
.h2-text {
  position: absolute;
  width: 779px;
  height: 52px;
  left: 331px;
  top: 1861px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
.link-body2 {
  position: absolute;
  width: 254px;
  height: 45px;
  left: 166px;
  top: 1979px;
  background: #094E69;
  border-radius: 30px;
}
.link2-text {
  position: absolute;
  width: 212px;
  height: 22px;
  left: 187px;
  top: 1967px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.description-link2 {
  position: absolute;
  width: 542px;
  height: 75px;
  left: 189px;
  top: 2043px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(34, 34, 34, 0.7);
}
.h5 {
  position: absolute;
  width: 332px;
  height: 24px;
  left: 189px;
  top: 2127px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
}
.course-list {
  position: absolute;
  width: 332px;
  height: 173px;
  left: 190px;
  top: 2170px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.7);
}
.img-course {
  position: absolute;
  width: 474px;
  height: 687px;
  left: 800px;
  top: 1979px;
  background: url(/assets/img/pexels-mudassir-ali-1590190\ 1.png);
  border-radius: 5px;
}




